{{define "en"}}
    Passwort zurücksetzen für dein CORRECTIV.Faktenforum-Konto
{{end}}

{{define "de"}}
    Passwort zurücksetzen für dein CORRECTIV.Faktenforum-Konto
{{end}}

{{- if eq .Identity.metadata_public.lang "en" -}}
    {{ template "en" . }}
{{- else -}}
    {{ template "de" . }}
{{- end -}}
