http: 
  routers:
    kratos:
      entryPoints:
        - web
      rule: host(`app.fafo.localhost`) && PathPrefix(`/api/v1/kratos`)
      service: kratos
      middlewares:
        - kratos

  services:
    kratos:
      loadBalancer:
        servers:
        - url: http://kratos:4433
  middlewares:
    kratos:
      stripPrefix:
        prefixes:
        - /api/v1/kratos