http:
  routers:
    landing:
      entryPoints:
        - web
      rule: host(`fafo.localhost`)
      service: landing

  services:
    landing:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:3000
