name: FF-Deploy-Staging

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Print portainer url
        run: echo "${{ vars.DEV_PORTAINER_URL }}"
      - name: Deploy to DEV Environment
        if: github.ref != 'refs/heads/production'
        uses: faktenforum/portami@main
        with:
          endpoint: ${{ vars.DEV_PORTAINER_URL }}
          access_token: ${{ secrets.DEV_PORTAINER_ACCESSTOKEN }}
          stack_name: "${{ vars.DEV_PORTAINER_STACK_NAME }}"
          prune: true
          pull: true
