name: FF-Deploy-Production

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Print portainer url
        run: echo "${{ vars.PROD_PORTAINER_URL }}"
      - name: Deploy to Production Environment
        if: github.ref == 'refs/heads/production'
        uses: faktenforum/portami@main
        with:
          endpoint: ${{ vars.PROD_PORTAINER_URL }}
          access_token: ${{ secrets.PROD_PORTAINER_ACCESSTOKEN }}
          stack_name: "${{ vars.PROD_PORTAINER_STACK_NAME }}"
          prune: true
          pull: true
